<% include _header %>
<h1> Welcome to Learn About Me! </h1>

<% for( var i = 0; i < users.length; i++) { %>
    <% var user = users[i] %>
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul>
                <li>
                    <a href = "/users/<%= user.username %>"> 
                        <%= user.name() %>
                    </a>                                  
                    <form action="/users/<%= user.username %>" method="delete">
                        <input type="submit" class="btn pull-right btn-primary" value="Delete">
                    </form>                    
                </li>
            </ul>            
        </div>
        <% if (user.bio) { %>
            <div class="panel-body"><%= user.bio %></div>
        <% } %>
    </div>
<% } %>

<% include _footer %>